@import "../configs/colors.scss";

footer {
  margin: 50px 0;
  z-index: 2;

  a, div {
    border-radius:  50%;

    &:nth-child(1), &:nth-child(3) {
      width: 15px;
      height: 15px;
      background-color: $white;
      margin: auto 50px;
    }

    &:nth-child(2) {
      width: 35px;
      height: 35px;
      border: 2px solid $white;
      background-color: transparent;

      &:hover {
        border: 3px solid $white;
      }
    }
  }

  div {
    background-color: $whiteTransparency !important;
  }
}