@import "../configs/colors.scss";

.teaser {

  .teaser-text-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    border-radius: 50%;

    canvas {
      margin: auto;
      width: 100%;
      height: auto;
    }

    .teaser-text {
      width: 100%;
      margin: auto;
    }
  }

  .teaser-animated-background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
    }

    &:hover {

      img {
        transform: scale(3);
        transition: 1s;
      }
    }
  }

  .teaser-animated-background-hidden {
    display: none;
  }

  .teaser-animated-background-visible {
    display: block;
  }
}

.canvas {
  width: 600px;
  height: 600px;
}