.vertical-lines {
  width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }
  .vertical-lines > div {
    width: 25%;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1); }
  .vertical-lines > div:first-child {
    border-left: 0; }
  .vertical-lines > div:last-child {
    border-right: 0; }
