* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none; }

html, body {
  min-height: 100%; }

body {
  background-color: #171717;
  font-family: "Lato", serif;
  overflow-x: hidden; }

.flex {
  display: flex; }

.row {
  flex-direction: row; }

.column {
  flex-direction: column; }

.around {
  justify-content: space-around; }

.between {
  justify-content: space-between; }

.center {
  justify-content: center; }

a {
  text-decoration: none; }

.upper {
  text-transform: uppercase; }

.text-center {
  text-align: center; }

.loading-page {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 999;
  background-color: #171717; }
  .loading-page img {
    margin: auto;
    max-width: 100%; }
