.not-found-page {
  color: #ffffff;
  text-align: center;
  z-index: 7;
  padding: 0 50px;

  img {
    display: block;
    margin: 50px auto auto auto;
    max-width: 100%;
  }

  h1 {
    font-size: 55px;
    letter-spacing: 1px;
    margin-top: 20px;
    font-family: "BulterStencilBold", Serif;
  }

  a {
    color: #ffffff;
    margin: 30px auto 0 auto;
    padding: 15px;
    border: 2px solid #ffffff;
    display: inline-block;

    &:hover {
      background-color: #ffffff;
      color: #000000;
      font-weight: bold;
    }
  }
}