.popin-message-send {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  z-index: 12; }
  .popin-message-send p {
    background-color: white;
    padding: 50px;
    margin: auto;
    box-shadow: 0 0 10px 2px #656565; }

.popin-message-send-hidden {
  visibility: hidden; }

.contact-container {
  width: 100%;
  margin-bottom: 50px;
  position: relative; }
  .contact-container .contact-illustration-container {
    width: 100%;
    height: 750px;
    position: relative; }
    .contact-container .contact-illustration-container .contact-text {
      background-color: white;
      color: #171717;
      width: 50%;
      padding: 250px 80px;
      position: absolute;
      top: 0;
      right: 0; }
      .contact-container .contact-illustration-container .contact-text h1 {
        font-size: 70px;
        font-family: 'BulterStencilBold', serif; }
        @media screen and (max-width: 700px) {
          .contact-container .contact-illustration-container .contact-text h1 {
            font-size: 50px; } }
        @media screen and (max-width: 500px) {
          .contact-container .contact-illustration-container .contact-text h1 {
            font-size: 40px; } }
      .contact-container .contact-illustration-container .contact-text p {
        margin: 10px 0; }
      .contact-container .contact-illustration-container .contact-text img {
        position: absolute;
        animation-name: formAnimation;
        animation-duration: .5s;
        transition: .3s; }
      .contact-container .contact-illustration-container .contact-text .contactIllustrationOne {
        top: 200px;
        left: -500px;
        z-index: 2; }
        @media screen and (max-width: 1000px) {
          .contact-container .contact-illustration-container .contact-text .contactIllustrationOne {
            width: 500px; } }
        @media screen and (max-width: 700px) {
          .contact-container .contact-illustration-container .contact-text .contactIllustrationOne {
            width: 400px;
            left: -400px; } }
        @media screen and (max-width: 500px) {
          .contact-container .contact-illustration-container .contact-text .contactIllustrationOne {
            width: 300px;
            left: -300px; } }
      .contact-container .contact-illustration-container .contact-text .contactIllustrationTwo {
        top: 600px;
        left: -10px;
        z-index: 3; }
        @media screen and (max-width: 1000px) {
          .contact-container .contact-illustration-container .contact-text .contactIllustrationTwo {
            width: 300px; } }
        @media screen and (max-width: 700px) {
          .contact-container .contact-illustration-container .contact-text .contactIllustrationTwo {
            width: 230px; } }
        @media screen and (max-width: 500px) {
          .contact-container .contact-illustration-container .contact-text .contactIllustrationTwo {
            width: 180px; } }
        @media screen and (max-width: 400px) {
          .contact-container .contact-illustration-container .contact-text .contactIllustrationTwo {
            top: 550px;
            left: 80px; } }
      .contact-container .contact-illustration-container .contact-text .contactIllustrationThree {
        top: 130px;
        left: -530px;
        z-index: 4; }
        @media screen and (max-width: 1000px) {
          .contact-container .contact-illustration-container .contact-text .contactIllustrationThree {
            width: 300px;
            left: -450px; } }
        @media screen and (max-width: 700px) {
          .contact-container .contact-illustration-container .contact-text .contactIllustrationThree {
            width: 250px;
            left: -300px; } }
        @media screen and (max-width: 500px) {
          .contact-container .contact-illustration-container .contact-text .contactIllustrationThree {
            width: 200px;
            left: -190px; } }
        @media screen and (max-width: 400px) {
          .contact-container .contact-illustration-container .contact-text .contactIllustrationThree {
            display: none; } }
      .contact-container .contact-illustration-container .contact-text .contactIllustrationFour {
        top: 0;
        left: -350px; }
        @media screen and (max-width: 700px) {
          .contact-container .contact-illustration-container .contact-text .contactIllustrationFour {
            width: 500px; } }
        @media screen and (max-width: 400px) {
          .contact-container .contact-illustration-container .contact-text .contactIllustrationFour {
            width: 100%;
            left: 0; } }
      @media screen and (max-width: 1000px) {
        .contact-container .contact-illustration-container .contact-text {
          padding: 250px 20px; } }
      @media screen and (max-width: 700px) {
        .contact-container .contact-illustration-container .contact-text {
          padding: 200px 20px; } }
      @media screen and (max-width: 600px) {
        .contact-container .contact-illustration-container .contact-text {
          padding: 200px 20px;
          width: 65%; } }
      @media screen and (max-width: 400px) {
        .contact-container .contact-illustration-container .contact-text {
          width: 100%; } }
  .contact-container .form-container {
    margin: auto;
    width: 48%;
    animation-name: formAnimation;
    animation-duration: .5s;
    position: relative;
    transition: .3s;
    z-index: 10; }
    @media all and (max-width: 1200px) {
      .contact-container .form-container {
        width: 70%; } }
    @media all and (max-width: 1000px) {
      .contact-container .form-container {
        width: 60%; } }
    @media all and (max-width: 800px) {
      .contact-container .form-container {
        width: 55%; } }
    @media all and (max-width: 600px) {
      .contact-container .form-container {
        width: 75%; } }
    .contact-container .form-container .contact-link-rs-1 {
      position: absolute;
      top: 130px;
      left: -130px;
      transform: rotate(270deg); }
      .contact-container .form-container .contact-link-rs-1 p {
        color: white;
        text-transform: uppercase; }
        .contact-container .form-container .contact-link-rs-1 p:nth-child(2) {
          margin-top: 15px; }
        .contact-container .form-container .contact-link-rs-1 p a {
          color: white;
          border-bottom: 1px solid white;
          padding-bottom: 6px;
          margin-bottom: 10px;
          font-size: 14px; }
          .contact-container .form-container .contact-link-rs-1 p a:first-child {
            margin-right: 10px; }
        @media screen and (max-width: 600px) {
          .contact-container .form-container .contact-link-rs-1 p {
            left: auto;
            right: -140px; } }
        @media screen and (max-width: 350px) {
          .contact-container .form-container .contact-link-rs-1 p {
            right: -130px; } }
    .contact-container .form-container form input, .contact-container .form-container form textarea {
      display: block;
      background-color: transparent;
      border: 0;
      border-radius: 0;
      color: white;
      outline: none;
      box-shadow: none; }
    .contact-container .form-container form input:first-child, .contact-container .form-container form textarea {
      width: 100%;
      padding: 25px 20px;
      font-size: 14px;
      color: #171717; }
    .contact-container .form-container form .inputInactive:first-child::placeholder, .contact-container .form-container form .inputInactive::placeholder {
      color: white;
      opacity: 1; }
    .contact-container .form-container form .inputActive:first-child::placeholder, .contact-container .form-container form .inputActive::placeholder {
      color: #171717;
      opacity: 1; }
    .contact-container .form-container form .inputInactive {
      color: white !important;
      background-color: transparent; }
    .contact-container .form-container form .inputActive {
      color: #171717;
      background-color: white; }
    .contact-container .form-container form input:first-child, .contact-container .form-container form input:last-child {
      border: 2px solid white; }
    .contact-container .form-container form textarea {
      border-left: 2px solid white;
      border-right: 2px solid white;
      border-bottom: 2px solid white;
      height: 300px;
      resize: none; }
    .contact-container .form-container form input:last-child:hover {
      background-color: white;
      color: #171717;
      font-weight: bold; }
    .contact-container .form-container form .btn-send {
      border: 2px solid #ffffff !important;
      margin: 50px auto 0 auto;
      padding: 15px 60px; }

@keyframes formAnimation {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
