.project-header {
  margin: 0 auto;
  position: relative;
  height: auto;
  display: table;
  animation-name: project-header-anim;
  animation-duration: .5s; }
  .project-header img {
    width: 100%; }
  .project-header .teaser-title {
    bottom: 60px;
    right: -40px;
    opacity: 0;
    animation-name: teaser-title-anim;
    animation-fill-mode: forwards;
    animation-delay: .3s;
    animation-duration: .5s; }

@keyframes teaser-title-anim {
  from {
    right: -200px;
    opacity: 0; }
  to {
    right: -40px;
    opacity: 1; } }

@keyframes project-header-anim {
  from {
    margin-top: -400px;
    opacity: 0; }
  to {
    margin-top: 0;
    opacity: 1; } }

.project-title {
  margin-top: 30px;
  color: white;
  font-family: "BulterStencilBold", Serif;
  font-size: 52px;
  letter-spacing: 3px; }

.project-description {
  color: white;
  margin: 30px 200px 50px 200px;
  line-height: 26px; }

.project-strats img {
  display: block;
  margin: auto; }

.project-strats .strat-full-width {
  width: 100%; }
